# Node.js dependencies
node_modules/
package-lock.json

# Cypress stuff
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Logs and reports
*.log
*.tmp
*.bak
report.json

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

.vscode/settings.json
